{% extends "admin/base_site.html" %}

{% block title %}Add Users{% endblock %}
{% block content %}
<div id="content-main">
    <h1>Delete User</h1>
    {% comment %} {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %} {% endcomment %}

    {% if error %}
    {{ error }}
    {% endif %}
   <form method="post">{% csrf_token %}
    Are you sure you want to delete "{{ user.username }}" ?
    This action cannot be undone, it might be preferable to
    set this user status to inactive.
    <input type="submit" value="Delete" />
</form>

</div>
{% endblock %}